<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if liste_boisson %}
        <ul >
        {% for boisson in liste_boisson %}
            <li style=" display:inline-block; width:25%; border:1px solid black">
                <a style=" display:block;" href="/election/boisson/{{ boisson.titre_boisson }}">
                    {{ boisson.titre_boisson }}
                    <img height="75"; width="100"; src="{{ boisson.lien_photo_boisson }}">
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Pas de boissons disponible</p>
    {% endif %}
</body>
</html>
